/* --------------------------------------------
 * Color
 --------------------------------------------*/

$dark-border    :  #A3014B;
$dark-text      :  #EF93B2;
$dark-bg        :  #420420;

/* --------------------------------------------
 * Path
 --------------------------------------------*/


/* --------------------------------------------
 * font
 --------------------------------------------*/


/* --------------------------------------------
 * Breakpoint (continer max-width 1300px)
 --------------------------------------------*/











